/*
Syntax error: Can't extend #documentation div.docs: can't extend nested selectors
        on line 157 of style.scss

152: }
153: 
154: @media only screen and (min-width: 950px) {
155:   body.markdown {
156:     > article {
157:       @extend #documentation div.docs;
158:     }
159:   }
160: }
161: 
162: /*---------------------- Syntax Highlighting -----------------------------*/

Backtrace:
style.scss:157
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:107:in `block in visit_extend'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:105:in `each'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:105:in `visit_extend'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:30:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:44:in `with_parent'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:29:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:192:in `visit_rule'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:30:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:44:in `with_parent'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:29:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:192:in `visit_rule'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:30:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:44:in `with_parent'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:29:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:143:in `visit_media'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:30:in `block in visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:44:in `with_parent'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:29:in `visit_children'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:56:in `visit_root'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:21:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/base.rb:24:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/visitors/cssize.rb:6:in `visit'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/tree/root_node.rb:22:in `render'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/engine.rb:315:in `_render'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/engine.rb:262:in `render'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/plugin/compiler.rb:200:in `each'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/lib/sass/plugin/compiler.rb:298:in `block in watch'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/home/jonathan/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.0/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Can't extend #documentation div.docs: can't extend nested selectors\A         on line 157 of style.scss\A \A 152: }\A 153: \A 154: @media only screen and (min-width: 950px) {\A 155:   body.markdown {\A 156:     > article {\A 157:       @extend #documentation div.docs;\A 158:     }\A 159:   }\A 160: }\A 161: \A 162: /*---------------------- Syntax Highlighting -----------------------------*/"; }
